body{
  background-color: #fffde8;
}
.alert-box{
    background-color: aliceblue;
    height: 240px;
    width: 490px;
    margin-left: 550px;
    margin-top: 220px;
     box-shadow: 10px 10px 5px #c2f9f8;
}
.alert-text{
    color: forestgreen;
    text-align: center;
    font-family: fantasy;
    text-shadow: 5px 5px 5px #9ad691;
}

.alert-message{
   text-align: center;
    margin-top: 60px;
    color: firebrick;
}

.to-go{
    padding:3px;
    text-align: center;
    width:120px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #dddddd;
    border-style: none;
    background-color: #7fd78f;
    font-size: 17px;
    color: blue;
    margin-left: 200px;
    margin-top: 20px;
}