body{
    background-color: #fffde8;
}
.login-card{
    background-color: aliceblue;
    height: 440px;
    width: 490px;
    margin-left: 550px;
    margin-top: 120px;
     box-shadow: 10px 10px 5px #c2f9f8;
}
.signup-card{
    background-color: aliceblue;
    height: 540px;
    width: 490px;
    margin-left: 550px;
    margin-top: 120px;
     box-shadow: 10px 10px 5px #c2f9f8;
}
.logo{
    color: forestgreen;
    text-align: center;
    font-family: fantasy;
    text-shadow: 5px 5px 5px #9ad691;
}
.text-boxes{
    margin-left: 100px;
    margin-top: 100px;
}

.text-boxes input{
    padding:5px;
    width:270px;
    box-shadow: 5px 5px 5px #dddddd;
    border-radius: 12px;
    border-style: none;
    font-family: monospace;
    font-size: 16px;
}

.button{
    margin-left: 170px;
    margin-top: 30px;
}
.login-button{
    padding:5px 5px;
    width:120px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #dddddd;
    border-style: none;
    background-color: #7fd78f;
    font-size: 16px;
    color: blue;
}
.old-user{
    margin-left: 130px;
    margin-top: 20px;
    font-family: monospace;
    font-size: 16px;
}
.new-user{
    margin-left: 160px;
    margin-top: 20px;
    font-family: monospace;
    font-size: 16px;
}