body{
    background-color: #fffde8;
}
.story-board{
    position: relative;
    top:20px;
    left:50px;
    background-color: aliceblue;
    height: 300px;
    width:1400px;
    box-shadow: 10px 10px 5px #d1dad9;
}

.story-title{
    font-family: 'Amita';
    font-size: 32px;
    margin-left: 13px;
    color: firebrick;
}

.story-body{
    background-color: #b8fbf4 ;
    height: 200px;
    margin-left: 13px;
    width:1370px;
}

.story-content{
    margin-left: 13px;
    margin-top: 10px;
    font-size: 20px;
    color: darkmagenta;
}

.credits{
    text-align: right;
    margin-right: 20px;
    margin-top: 4px;
    font-size: 20px;
    color: dodgerblue;
}

.navbar{
    background-color: aliceblue;
    margin-top: -7px;
    margin-left: -5px;
     width:1530px;
    height:60px;
    box-shadow: 10px 10px 5px #d1dad9;
}

.logo{
     color: forestgreen;
    font-family: fantasy;
    text-shadow: 5px 5px 5px #9ad691;
    margin-left: 20px;
}

.button{
    float: right;
    padding: 7px;
    margin-right: 10px;
    margin-top: 10px;
}

.log-out{
    float: right;
    margin-top: -60px;
    margin-right: 190px;
    padding: 12px;
    background-color: ghostwhite;
    border-style: none;
    border-radius: 60px;
}
.create{
    margin-right: 10px;
}

.b1{
    margin-top: -4px;
}

.name{
    margin-top: -30px;
    margin-left: 670px;
    color: fuchsia;
    font-size: 20px;
    font-family: cursive;
}

.names{
    float: left;
    text-align: left;
    font-size: 2px;
    color: coral;
}